* {
    box-sizing: border-box;
}

.sidebar {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background: linear-gradient(180deg, #0099AE 0%, #00BF82 100%);
    z-index: 100;
    transform: translateX(0);
    transition: all 2s ease;
}

.remove {
    transform: translateX(-300px);
}

ul {
    list-style: none;
    text-align: center;
    margin: 80px 0px 0px 29px;
}

.bar_item {
    margin-top: 10px;
    cursor: pointer;
    color: white;
    font-size: large;
}

.bar_item:hover {
    color: rgb(173, 12, 190);
}

.loginBtn {
    width: 200px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: none;
    margin: 300px auto;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}




