@import '_varibales';

table {
    margin: 20px auto;
}

.cat0 {
    background-color: lightgreen;
}

.cat1 {
    background-color: lightpink;
}

.cat2 {
    background-color: lightskyblue;
}

.cat3 {
    background-color: lightyellow;
}

.cat4 {
    background-color: lightcyan;
}

.cat5 {
    background-color: lightgrey;
}

.cat6 {
    background-color: rgb(18, 231, 238);
}

.cat7{
    background-color: rgb(246, 146, 53);
}